@import './../../modules/colors';
@import './../../modules/fonts';
@import './../../modules/elements';
@import './../../modules/keyframes';
@import './../../modules/mixin';

.boxMain{
    .boxHome{
        .boxHeader{
            position: relative;
            .imgPortada{
                height: calc(100vh - 110px);
                width: 100%;
                object-fit: cover;
                opacity: 0.9;
                border-radius: 0 0 40px 40px;
                user-select: none;
            }
    
            span{
                position: absolute;
                z-index: 3;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2em;
                font-weight: bold;
                color: $gray1;
                text-shadow: 2px 2px 7px #2f2627, -2px -2px 7px #2f2627, 2px 2px 30px #2f2627;
            }
    
            .arrow{
                left: 50%;
                transform: translateX(-50%) rotate(90deg);
                width: 90px;
                position: absolute;
                bottom: 100px;
            }
        }
        section{
            display: flex;
            .information{
                position: sticky;
                top: 0;
                width: 350px;
                height: fit-content;
            }
            .boxCards{
                padding: 0 4vw;
                display: grid;
                gap: 20px;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                height: fit-content;
                width: 100%;
                justify-self: center;
                margin: 80px 0 80px 0;
        
                .card{
                    background-color: $gray1;
                    border-radius: 25px;
                    box-shadow: 0 0 20px #132e4315;
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: fit-content;
                    .perfilImage{
                        width: 150px;
                        height: 150px;
                        object-fit: cover;
                        clip-path: circle(50% at 50% 50%);
                        margin-bottom: 7px;
                    }
        
                    .name{
                        color: $color2;
                        font-weight: normal;
                    }
                    .boxScore{
                        width: 110px;
                        height: 20px;
                        background-color: $color24;
                        clip-path: path('M 7.5935571,5.0989435e-5 C 6.6431571,0.03405099 6.2137971,0.99435099 5.8533271,1.740351 c -0.37404,0.7251 -0.70806,1.4732 -1.10742,2.1836 -0.47587,0.6469 -1.3342,0.5709 -2.04297,0.7324 -0.87259,0.1846 -1.93932996,0.1405 -2.51563,0.9394 -0.49825,0.7656 0.0904,1.659 0.68165004,2.1797 0.58005996,0.5927 1.18210996,1.1658 1.74803996,1.7715 0.51234,0.6824 0.0939,1.488 -0.0312,2.2207 -0.17418,0.9404 -0.65026,1.9849 -0.0977,2.8809 0.52257,0.6961 1.52657,0.4197 2.16406,0.047 0.82213,-0.4718 1.62208,-0.9826 2.45312,-1.4374 0.73013,-0.3106 1.37283,0.2273 1.97071,0.5703 0.8602704,0.4585 1.6457309,1.1498 2.6484309,1.25 0.70058,0.084 1.26379,-0.5689 1.23828,-1.2422 -0.008,-0.968 -0.34704,-1.8917 -0.52929,-2.836 -0.20349,-0.5937 -0.1289,-1.3079 0.39258,-1.7187 0.67196,-0.7031 1.40864,-1.3489 2.02929,-2.0977 0.49246,-0.5783 0.46526,-1.5679 -0.23437,-1.9726 -0.77057,-0.458 -1.69828,-0.4413 -2.55469,-0.627 -0.61254,-0.096 -1.31225,-0.1481 -1.66797,-0.7344 -0.5366505,-1.0169 -0.9971609,-2.0756 -1.5703109,-3.07220001 -0.27735,-0.4101 -0.71148,-0.7888 -1.23438,-0.77740000057 z m 23.7031309,0 C 30.346288,0.03405099 29.916928,0.99435099 29.556458,1.740351 c -0.37405,0.7251 -0.71001,1.4732 -1.10938,2.1836 -0.47586,0.6469 -1.33224,0.5709 -2.04102,0.7324 -0.87258,0.1846 -1.93932,0.1405 -2.51562,0.9394 -0.49824,0.7656 0.0904,1.659 0.68164,2.1797 0.58006,0.5927 1.18017,1.1658 1.74609,1.7715 0.51235,0.6824 0.094,1.488 -0.0312,2.2207 -0.17419,0.9404 -0.64832,1.9849 -0.0957,2.8809 0.52257,0.6961 1.52463,0.4197 2.16211,0.047 0.82213,-0.4718 1.62209,-0.9826 2.45313,-1.4374 0.73013,-0.3106 1.37477,0.2273 1.97265,0.5703 0.86026,0.4585 1.64573,1.1498 2.64844,1.25 0.70058,0.084 1.26379,-0.5689 1.23828,-1.2422 -0.008,-0.968 -0.34704,-1.8917 -0.5293,-2.836 -0.20348,-0.5937 -0.1289,-1.3079 0.39258,-1.7187 0.67197,-0.7031 1.40671,-1.3489 2.02735,-2.0977 0.49246,-0.5783 0.4672,-1.5679 -0.23243,-1.9726 -0.77058,-0.458 -1.69827,-0.4413 -2.55468,-0.627 -0.61255,-0.096 -1.31225,-0.1481 -1.66797,-0.7344 -0.53664,-1.0169 -0.99718,-2.0756 -1.57032,-3.07220001 -0.27735,-0.4101 -0.71147,-0.7888 -1.23437,-0.77740000057 z m 23.70117,0 C 54.047458,0.03405099 53.618088,0.99435099 53.257628,1.740351 c -0.37405,0.7251 -0.70805,1.4732 -1.10743,2.1836 -0.47586,0.6469 -1.33419,0.5709 -2.04296,0.7324 -0.87259,0.1846 -1.93933,0.1405 -2.51563,0.9394 -0.49825,0.7656 0.0904,1.659 0.68164,2.1797 0.58006,0.5927 1.18212,1.1658 1.74805,1.7715 0.51234,0.6824 0.094,1.488 -0.0312,2.2207 -0.17418,0.9404 -0.65028,1.9849 -0.0977,2.8809 0.52258,0.6961 1.52658,0.4197 2.16407,0.047 0.82213,-0.4718 1.62208,-0.9826 2.45312,-1.4374 0.73012,-0.3106 1.37282,0.2273 1.9707,0.5703 0.86026,0.4585 1.64574,1.1498 2.64844,1.25 0.70058,0.084 1.26379,-0.5689 1.23828,-1.2422 -0.008,-0.968 -0.34704,-1.8917 -0.5293,-2.836 -0.20348,-0.5937 -0.1289,-1.3079 0.39258,-1.7187 0.67196,-0.7031 1.40865,-1.3489 2.0293,-2.0977 0.49246,-0.5783 0.46721,-1.5679 -0.23242,-1.9726 -0.77057,-0.458 -1.70023,-0.4413 -2.55664,-0.627 -0.61255,-0.096 -1.31029,-0.1481 -1.66602,-0.7344 -0.53664,-1.0169 -0.99912,-2.0756 -1.57226,-3.07220001 -0.27735,-0.4101 -0.71148,-0.7888 -1.23438,-0.77740000057 z m 23.70313,0 C 77.750588,0.03405099 77.321218,0.99435099 76.960748,1.740351 c -0.37404,0.7251 -0.70805,1.4732 -1.10742,2.1836 -0.47586,0.6469 -1.33421,0.5709 -2.04297,0.7324 -0.87259,0.1846 -1.93932,0.1405 -2.51562,0.9394 -0.49825,0.7656 0.0904,1.659 0.68164,2.1797 0.58006,0.5927 1.18212,1.1658 1.74804,1.7715 0.51235,0.6824 0.092,1.488 -0.0332,2.2207 -0.17419,0.9404 -0.64832,1.9849 -0.0957,2.8809 0.52257,0.6961 1.52658,0.4197 2.16406,0.047 0.82213,-0.4718 1.62208,-0.9826 2.45312,-1.4374 0.73013,-0.3106 1.37284,0.2273 1.97071,0.5703 0.86027,0.4585 1.64574,1.1498 2.64844,1.25 0.70057,0.084 1.2638,-0.5689 1.23828,-1.2422 -0.008,-0.968 -0.34704,-1.8917 -0.5293,-2.836 -0.20348,-0.5937 -0.1289,-1.3079 0.39258,-1.7187 0.67197,-0.7031 1.4067,-1.3489 2.02734,-2.0977 0.49247,-0.5783 0.46722,-1.5679 -0.23242,-1.9726 -0.77057,-0.458 -1.69827,-0.4413 -2.55469,-0.627 -0.61254,-0.096 -1.31224,-0.1481 -1.66797,-0.7344 -0.53665,-1.0169 -0.99717,-2.0756 -1.57031,-3.07220001 -0.27735,-0.4101 -0.71147,-0.7888 -1.23437,-0.77740000057 z m 23.703112,0 C 101.4537,0.03405099 101.02433,0.99435099 100.66387,1.740351 c -0.37404,0.7251 -0.710016,1.4732 -1.109372,2.1836 -0.47587,0.6469 -1.33224,0.5709 -2.04101,0.7324 -0.87259,0.1846 -1.94128,0.1405 -2.51758,0.9394 -0.49825,0.7656 0.0904,1.659 0.68164,2.1797 0.58006,0.5927 1.18212,1.1658 1.74805,1.7715 0.51234,0.6824 0.0941,1.488 -0.0312,2.2207 -0.17418,0.9404 -0.65028,1.9849 -0.0977,2.8809 0.52258,0.6961 1.52658,0.4197 2.16406,0.047 0.822122,-0.4718 1.622072,-0.9826 2.453122,-1.4374 0.73012,-0.3106 1.37477,0.2273 1.97265,0.5703 0.86026,0.4585 1.64574,1.1498 2.64844,1.25 0.70058,0.084 1.26185,-0.5689 1.23633,-1.2422 -0.008,-0.968 -0.34509,-1.8917 -0.52734,-2.836 -0.2035,-0.5937 -0.13086,-1.3079 0.39062,-1.7187 0.67198,-0.7031 1.40866,-1.3489 2.0293,-2.0977 0.49247,-0.5783 0.46721,-1.5679 -0.23242,-1.9726 -0.77058,-0.458 -1.70024,-0.4413 -2.55665,-0.627 -0.61255,-0.096 -1.31028,-0.1481 -1.66601,-0.7344 -0.53664,-1.0169 -0.99912,-2.0756 -1.57227,-3.07220001 -0.27735,-0.4101 -0.70952,-0.7888 -1.23242,-0.77740000057 z');
                        margin: 5px 0 20px 0;
                        .barScore{
                            height: 100%;
                            background-color: $color1;
                        }
                    }
                    .boxDescription{
        
                        .all{
                            color: $color22;
                        }
        
                        .hide{
                            color: $color22;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 5;
                            -webkit-box-orient:vertical;
                        }
        
                        .descriptionMoreButton{
                            color: $color23;
                            content: "... Ver más";
                            border-radius: 20px;
                            padding: 2px 7px;
                            bottom: 0;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    
    .boxHome::-webkit-scrollbar, .description::-webkit-scrollbar{
        display: none;
    }
}
