@import "./../../modules/colors";
@import "./../../modules/fonts";
@import "./../../modules/elements";
@import "./../../modules/keyframes";
@import "./../../modules/mixin";

.boxMain {
  .boxHome {
    .boxHeader {
      position: relative;
      overflow: hidden;
      height: 100%;
      width: 100%;
      .boxArrows{
        width: 100%;
        height: 100%;
        display: flex;
        transition: margin-left 0.4s ease-in-out;
        .slider {
          width: 100%;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
  
        .arrows {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          font-size: 7em;
          color: $gray1;
          opacity: 0.2;
          transition: all 0.2s ease-in-out;
          z-index: 3;
        }
  
        .icon-arrow-right-2{
          left: initial;
          right: 0;
        }
  
        .arrows:hover{
          opacity: 1;
          color: $color1;
          text-shadow: 0 0 25px $color1;
          cursor: pointer;
        }
      }
    }

    .section {
      display: grid;
      margin: 20px 0;
      grid-template-areas:
        "titleSection titleSection"
        "boxCards information"
        "viewMoreChefs viewMoreChefs";

      .titleSection {
        text-align: center;
        padding: 30px 0 20px 0;
        font-size: 2.1em;
        grid-area: titleSection;
      }
      .information {
        position: sticky;
        top: 0;
        width: 350px;
        height: fit-content;
        grid-area: information;
      }
      .boxCards {
        padding: 0 4vw;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        height: fit-content;
        width: 100%;
        justify-self: center;
        grid-area: boxCards;

        .card {
          .perfilImage {
            width: 150px;
            height: 150px;
            object-fit: cover;
            clip-path: circle(50% at 50% 50%);
            margin-bottom: 7px;
          }

          .name {
            color: $color2;
            font-weight: normal;
          }
          .boxScore {
            width: 110px;
            height: 20px;
            background-color: $color24;
            clip-path: path($stars);
            margin: 5px 0 20px 0;
            .barScore {
              height: 100%;
              background-color: $color1;
            }
          }
          .boxDescription {
            .all {
              color: $color22;
            }

            .hide {
              color: $color22;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 5;
              -webkit-box-orient: vertical;
            }

            .descriptionMoreButton {
              color: $color23;
              content: "... Ver más";
              border-radius: 20px;
              padding: 2px 7px;
              bottom: 0;
              cursor: pointer;
            }
          }
        }
      }

      .viewMoreChefs {
        grid-area: viewMoreChefs;
        justify-self: center;
        width: 250px;
      }
    }

    .verGalerias{
      display: grid;
      margin-top: 70px;
      div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 25px;
        a{
          font-weight: bold;
          font-size: 2em;
          margin: 20px 0;
          max-width: fit-content;
          transition: all 0.3s ease-in-out;
          text-decoration: none;
        }
        img{
          width: 70%;
          border-radius: 20px;
          transition: all 0.3s ease-in-out;
        }
      }

      div:hover{
        img{
          cursor: pointer;
          filter: drop-shadow(0 0 10px $color22);
        }
        a{
          background-color: $color2;
        }
      }
    }
  }

  .boxHome::-webkit-scrollbar,
  .description::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .boxMain {
    .boxHome {
      .section {
        grid-template-areas:
          "information"
          "titleSection"
          "boxCards"
          "viewMoreChefs";

        .information {
          position: static;
          width: 100%;
        }
      }
    }
  }
}
