$color1: #ee246dff;
$color12: #f25d93;
$color13: #f696b9;
$color13: #fbd0e0;

$color2: #132e43ff;
$color22: #546b7e;
$color23: #95a9b9;
$color24: #d7e6f4;
$color25: #f0f5ff;

$gray1: #ffffff;
$gray2: #f0f5ff;
$gray3: #f8f8f8;