@font-face {
    font-family: URWGothic;
    src: url(../../assets/fonts/URWGothic-Book.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: URWGothic;
    src: url(../../assets/fonts/URWGothic-Demi.ttf);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: URWGothic;
    src: url(../../assets/fonts/URWGothic-BookOblique.ttf);
    font-style: oblique;
    font-weight: 300;
}

@font-face {
    font-family: URWGothic;
    src: url(../../assets/fonts/URWGothic-DemiOblique.ttf);
    font-style: oblique;
    font-weight: 900;
}
