@import './modules/colors';
@import './modules/fonts';
@import './modules/keyframes';
.boxMain{
    background-color: #f0f5ff8f;
    position: relative;
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    #backgroundImg{
        position: fixed;
        z-index: -1;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}