@import "./../../modules/colors";
@import "./../../modules/fonts";
@import "./../../modules/keyframes";
.boxBar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: $color25;
  margin: 20px 20px 0 0;
  height: 70px;
  border-radius: 40px 40px 0 0;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0 0 20px #132e4350;
  .boxLogo{
    width: 50px;
  }
  #buscar{
    border: none;
    background-color: $gray1;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 1.2em;
    color: $color2;
    text-align: center;
  }

  #buscar:focus {
    outline: none;
  }
  ul {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    width: fit-content;
    li {
      display: flex;
      align-items: center;
      list-style: none;
      height: fit-content;

      i {
        position: relative;
        font-size: 1.5em;
        padding: 5px;
        color: $color2;
        span {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $color1;
          color: $gray1;
          border-radius: 50px;
          padding: 5px;
          z-index: 2;
          height: 20px;
          width: 20px;
          font-size: 0.5em;
          font-weight: bold;
          top: -7px;
          right: -7px;
          transform: scale(0);
        }
      }
    }
  }
}

@media screen and (max-width: 700px){
  .boxBar{
    #buscar{
      display: none;
    }
  }
}
