<div class="boxBar">
    <div class="boxLogo">
        <app-logo></app-logo>
    </div>

    <input id="buscar" type="text" placeholder="Buscar" (click)="categoryShow()">
    <ul>
        <li class="shop"><i class="icon-shopping-cart"><span>45</span></i></li>
        <li><i class="icon-frame"></i></li>
    </ul>

    <div class="boxCategory" [style.display]="showCat" (mouseup)="categoryNone()" (mouseleave)="categoryNone()">
        <div class="category" style="background-color: #e73567; color: white;">Postres</div>
        <div class="category" style="background-color: #FF7471;">Cocteles</div>
        <!-- <div class="category" [style.backgroundColor]="color()">Cocteles</div> -->
        <div class="category" style="background-color: #352423; color: white;">Barismo</div>
        <div class="category" style="background-color: #FFCE62;">Gourmet</div>
        <div class="category" style="background-color: #63BF94;">Vegetareana</div>
        <div class="category" style="background-color: wheat;">Vegana</div>
        <div class="category" style="background-color: #d1843c;">Parrillada</div>
        <div class="category" style="background-color: #f5e23a;">Colombiana</div>
        <div class="category" style="background-color: #f5663a;">Rápida</div>
    </div>
</div>
