<div class="boxMain">
    <app-nav></app-nav>
    <div class="boxSection">
        <app-bar></app-bar>
        <div class="boxAll boxHome">
            <div class="boxHeader">
                <div class="filterPortada"></div>
                <img class="imgPortada" src="../../../assets/img/portadaChef1.jpeg" alt="">

                <div class="boxPerfil">
                    <img class="imgPerfil" src="../../../assets/img/chef2.png" alt="">
                </div>
                
            </div>
            <div class="boxName">
                <h2 class="name">Carolina Andrea <span class="lastname">Corrales Huertas</span></h2>
                
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, autem saepe. Pariatur, corrupti adipisci cupiditate aliquid aspernatur, soluta architecto suscipit eveniet cum ut labore magni repudiandae delectus dolor odit laboriosam.</p>
        </div>
    </div>
</div>
