@import './app/modules/fonts';
@import './app/modules/colors';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'URWGothic';
}

*::selection{
    color: white;
    background-color: $color1;
}