<div class="section">
    <h2 class="titleSection">Platos Destacados</h2>
    <div class="boxCards">
        <div class="card" *ngFor="let plato of platos" #card>
            <img class="platoImage" [src]="plato.img" alt="">

            <h3 class="name">{{plato.name}}</h3>

            <div class="boxScore">
                <div class="barScore" [style.width]="plato.score"></div>
            </div>

            <div class="boxDescription">
                <p class="hide all" #description>
                    {{plato.description}}
                </p>
                <span #showMore *ngIf="plato.description.length>=81 && this.card.clientWidth >= 250"
                    class="descriptionMoreButton" (click)="cambioClase(this.description, this.showMore)">Ver más</span>
            </div>

            <span class="button">Ver Platos</span>
        </div>
    </div>

    <div class="boxInfo information">
        <img src="./assets/img/chefBlack.png" alt="">
        <div class="boxContainer">
            <h2>Muchos platos para elegir</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis nam beatae pariatur illo aut rerum, debitis aperiam quaerat, eveniet quasi necessitatibus sequi autem, nulla deleniti facilis corrupti odio? Aliquid, nam.</p>
        </div>
    </div>
</div>