<!-- <div class="cajaTarjeta">
    <div class="cajaImagenTitulo">
        <img src="../../../assets/img/chef1.png" alt="">
        <h2>Nombre Chef</h2>
    </div>
</div> -->
<div class="card">
    <img class="perfilImage" src="../../../assets/img/chef1.png" alt="">
    <h3 class="name">Jorge Cárdenas</h3>
    <div class="boxScore">
        <div class="barScore"></div>
    </div>
    <p class="description">
        Chef de Bogotá con 7 años de experiencia; especialista en pizzas gourmet...
    </p>

    <span class="button">Ver Perfil</span>
</div>
